{% extends '_base.html' %}

{% block main %}
<h2>SWIB 2020 - Sinopia Linked Data Editor</h2>
<h1>Sinopia's Application Programming Interface (API)</h1>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Migrating from Trellis</h4>
        <p>
          In the first two iterations of Sinopia, all of the RDF and JSON data
          was stored and managed through the Linked-Data Platform
          <a href="https://www.trellisldp.org/">Trellis</a> running on
          Amazon Web Services cloud with their Relational Database Service (RDS)
          to store and manage the data.
        </p>
        <p>
          As Sinopia matured, the scability of Trellis was a concern as the
          trival amount of RDF and JSON being managed was hitting performance
          bottlenecks. Other issues with Trellis was the extremely small user base
          and the inflexibility of Trellis to manage other data required by
          requested new features for Sinopia.
        </p>
      </div>
      <hr>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">OpenAPI</h4>
        <p>
          The Sinopia API is described with an <a href="https://www.openapis.org/">OpenAPI</a>
          available at
          <a href="https://ld4p.github.io/sinopia_api/">https://ld4p.github.io/sinopia_api/</a>.
        </p>
      </div>
    </div>
    <div class="col">
      <p>
        A significant change to the Sinopia stack was the addition of a separate
        API service, running on AWS, that offers CRUD management of RDF templates
        and resources within the editor.
      </p>
      <p>
        Moving away from Trellis, the Sinopia development team switch to using
        <a href="https://aws.amazon.com/documentdb/">DocumentDB</a>, AWS's cloud
        hosted version of <a href="https://www.mongodb.com/">MongoDB</a>. Moving
        to MongoDB addressed the scability concerns as well as provided a more
        flexible data storage for the new personalization features being implemented
        in Sinopia.
      </p>
      <p>
        The Sinopia API also offers easier access for external uses like individual
        institutional triplestores and machine learning opportunities like
        the <a href="https://github.com/ld4p/rdf-classify">RDF Classifier</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}


{% block slide_nav %}
<div class="btn-group float-right" role="group" aria-label="Slide Navigation">
  <a type="button" class="btn btn-primary" href="editor.html">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
    </svg>
    Editor
  </a>
  <a type="button" class="btn btn-success" href="links-resources.html">Links &amp; Resources
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
    </svg>
  </a>
</div>
{% endblock %}
