{% extends '_base.html' %}

{% block main %}
<h2>SWIB 2020 - Sinopia Linked Data Editor</h2>
<h1>Background</h1>
<p class="lead">
 Funded by the Andrew W. Mellon Foundation, the Sinopia Editor and back-end supporting services 
 is currently on version <strong>3.5.6</strong> and is developed primarily by Stanford
 University Libraries.
</p>
<div class="card-group">
  <div class="card">
    <header class="card-header">Workcycle One 2018-2019</header>
    <div class="card-body">
      <p class="card-text">
        Initially a fork of the first Library of Congress
        BIBFRAME Editor code base, the Sinopia Editor was heavily
        refactored using the front-end Javascript 
        <a href="https://reactjs.org/">React</a> framework
        composed of web-based components using <a href="https://redux.js.org/">Redux</a>
        for state managment.
      </p>
      <p class="card-text">
        Back-end RDF management was accomplished using 
        <a href="https://www.trellisldp.org/">Trellis</a>, a Linked-Data Platform 
        supported by a <a href="https://www.elastic.co/">Elasticsearch</a> search index.
      </p>
      <p class="card-text">
        The Sinopia Stack is deployed on Amazon Web Services (AWS) to better support 
        a collaborative cataloging environment for multiple institutions. 
      </p>
    </div>
  </div>
  <div class="card text-blue bg-info">
    <div class="card-header">Workcycle Two 2019</div>
    <div class="card-body">
      <p class="card-text">
        First production use of Sinopia to create RDF descriptions by
        17 cohort institutions. Many of the institutions were involved with 
        different original cataloging projects that used Sinopia in their 
        work.
      </p>
      <p class="card-text">
        User interface improvements were the main focus for this work-cycle and 
        establishing work-flows for JSON-based Resource Templates.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Workcycle Three 2020</div>
    <div class="card-body">
      <p class="card-text">
        Sinopia migrated off of Trellis in favor of AWS DocumentDB, major change from
        using JSON Resource Templates to using RDF-based templates and depreciating 
        the dedicated Profile Editor application.
      </p>
      <p class="card-text">
        Created an <a href="api.html">API</a> providing CRUD
        operations along with user customization and BIBFRAME
        specific enhancements.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
<hr>
<h3>Current  Architecture</h3>
<p>
 The Sinopia technology stack has evolved over the three work-cycles but at the broadest level is a client-side React
 single page application (SPA) connecting to a server-side API running as Node.js applications on Amazon Web
 Services (AWS). There are three server-side helper applications that index incoming templates and resources,
 export resources, and offer a BIBFRAME RDF-to-MARC conversion.
</p>
<img src="img/sinopia-architecture.svg" alt="Sinopia Architecture" />
{% endblock %}

{% block slide_nav %}
<div class="btn-group float-right" role="group" aria-label="Basic mixed styles example">
  <a type="button" class="btn btn-primary" href="index.html">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
    </svg>
    Home
  </a>
  <a type="button" class="btn btn-success" href="rdf-templates.html">RDF Templates
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
    </svg>
  </a>
</div>
{% endblock %}
