{% extends '_base.html' %}

{% block main %}
<h2>SWIB 2020 - Sinopia Linked Data Editor</h2>
<h1>Editor</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        While designed as an generic Linked-Data editor, the Sinopia editor and supporting
        stack is optimized for the <a href="http://bibframe.org/">BIBFRAME</a> bibliographic
        vocabulary developed by the Library of Congress.
      </p>
      <p>
        With RDF templates being developed by PCC for BIBFRAME Works, Instances,
        and Items, along with their sub-classes, catalogers describe the resource
        and can mint URIs for each of these classes and link them through Sinopia's
        interface.
      </p>
    </div>
    <div class="col">
      <p>
        Depending on how the RDF template creator structured the RDF template, Sinopia
        allows catalogers to link external entities into a constructured triple using
        an external look-up service called
        <a href="https://lookup.ld4l.org/">Questioning Authority</a> (QA)
        or directly from the Library of Congress.
      </p>
    </div>
  </div>
  <h3>BIBFRAME Workflows</h3>
  <div class="row">
    <div class="col-md-10">
      <p>
        With a focus on native linked-data cataloging using the
        <a href="https://bibrame.org">BIBFRAME</a> vocabulary, Sinopia allows
        catalogers to open up multiple, related templates with tabs to enable
        quick creation of related Work-Instance-Item entities, each with a minted
        URI.
      </p>
      <img src="img/sinopia-bibframe-workflow.png" alt="Sinopia BIBFRAME Workflow" />
    </div>
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block slide_nav %}
<div class="btn-group float-right" role="group" aria-label="Slide Navigation">
  <a type="button" class="btn btn-primary" href="rdf-templates.html">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
    </svg>
    RDF Templates
  </a>
  <a type="button" class="btn btn-success" href="api.html">API
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
    </svg>
  </a>
</div>
{% endblock %}
